body {
    background: #ddd;
}
.container {
    background: #ffffff;
    height: 100vh;
}
.main-menu {
    margin-top: 20px;
}
.section-header {
    padding: 20px;
}
.widgets-container .card {
    display: inline-block;
}

